html {
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0px;
  height: 100%;
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  background-color: white;
  width: 100%;
}

nav a {
  display: inline-block;
  margin: 1em;
}

#app {
  height: 100%;
}

.appContainer {
  display: flex;
  height: 100vh;
}

.mainContainer {
  flex: 1 1 auto;
  overflow: auto;
}

.imageContainer {
  flex: 0;
}

.formContainer {
  padding: 10px 20px;
  max-width: 700px;
  margin-top: 56px;
  margin-bottom: 30px;
}
